<!-- Incluye FullCalendar -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>

<!-- Contenedor del calendario -->
<div id="calendar"></div>
<!-- Modal para seleccionar el tipo de reserva -->
<div id="reservaModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
  background: white; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); border-radius: 5px;">
  <h3>Selecciona el tipo de reserva</h3>
  <select id="tipoReserva">
    {{#each animales}}
    <option id_animal="{{_id}}" value="{{_id}}">{{nombre}}</option>
    {{/each}}
  </select>
  <br><br>
  <input type="text" id="alimento" placeholder="alimento">
  <input type="text" id="medicamentos" placeholder="medicamentos">
  <input type="text" id="extras" placeholder="Extras">
  <button id="guardarReserva">Guardar</button>
  <button id="cerrarModal">Cancelar</button>
</div>


<!-- Importa el archivo JavaScript -->
<script src="/js/calendario.js"></script>