{{> head}}
{{> headerAdmin}}

<body>
    <!-- Contenedor principal -->
    <div class="container mt-5">
        <section class="usuarios-section">
            <h2 class="toggle-form text-center" data-target="formU">Crear Usuario</h2>
            <form id="formC" class="form bg-light p-4 rounded shadow" method="post"
                action="/api/usuarios/usuariosCrear">
                <div class="mb-3">
                    <label for="Usuario" class="form-label">Usuario</label>
                    <input type="text" id="Usuario" class="form-control" placeholder="Usuario" name="usuario">
                    <small id="usuarioHelp" class="form-text text-muted">Introduce tu email.</small>
                </div>
                <!-- Campo nombre -->
                <div class="mb-4">
                    <label for="Cu" class="form-label">Nombre</label>
                    <input type="nombre" id="nombre" class="form-control inputA" placeholder="nombre" name="nombre"
                        required aria-describedby="nombreHelp">
                    <small id="nombreHelp" class="form-text text-muted">Introduce tu nombre.</small>
                </div>
                <!-- Campo Contrase単a -->
                <div class="mb-3">
                    <label for="ConstraseniaUsuario" class="form-label">Contrase単a</label>
                    <input type="password" id="ConstraseniaUsuario" class="form-control" placeholder="Contrase単a"
                        name="contrasenia">
                    <small id="contraseniaHelp" class="form-text text-muted">Introduce tu Contrase単a.</small>
                </div>
                <button type="submit" class="btn btn-primary buttonUsuarioCrear w-100">Crear</button>
            </form>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/crearUsuario.js"></script>
</body>
<script src="/js/header.js"></script>
