<!DOCTYPE html>
<html lang="es">

{{> head}}
{{> header}}
<body class="container mt-5">

    <!-- Contenedor principal -->
    <div class="main-container">
        <!-- Secci칩n de Buscar -->
        <div class="search-section card p-4 mb-4 shadow-sm">
            <h2 class="text-center">Buscar por Nombre</h2>
            <form id="buscarNombreAnimal" class="d-flex flex-column align-items-center">
                <label for="buscarNombreAnimal" class="form-label">Nombre del Animal o Due침o:</label>
                <input type="text" id="nombreDelAnimal" name="nombreAnimal" class="form-control w-50"
                    placeholder="Nombre del animal">
                <button type="submit" class="btn btn-primary mt-3 btn-buscarNombreAnimal">Buscar</button>
            </form>
        </div>

        <!-- Secci칩n de animales -->
        <section class="libros-section">
            {{#each animales}}
            <div class="card p-4 mb-3 shadow-sm">
                <h5 class="card-title"><i class="fas fa-paw"></i> Animal: {{nombre}}</h5>
                <p><strong>Nombre due침o:</strong> {{idUsuario.nombre}}</p>
                <p><strong>Mail:</strong> {{idUsuario.email}}</p>
                <p><strong>Tipo Animal:</strong> {{idTipoAnimal.tipo}}</p>
            </div>
            {{/each}}
        </section>
    </div>

    <script src="/js/listaAnimales.js"></script>
</body>
<script src="/js/header.js"></script>

</html>