<!DOCTYPE html>
<html lang="es">

{{> head}}
{{> header}}
<body class="container mt-5">

    <!-- Contenedor principal -->
    <div class="main-container">

        <!-- Sección de Tipos de Animales -->
        <section class="tipos-animales-section mb-4">
            <h3>Tipos de Animales Disponibles</h3>
            <ul class="list-group">
                {{#each tiposAnimales}}
                <li class="list-group-item">{{tipo}}</li>
                {{/each}}

            </ul>
        </ul>
        </section>

    </div>

    <script src="/js/listadoTipos.js"></script>
</body>
<script src="/js/header.js"></script>

</html>