<!DOCTYPE html>
<html lang="es">

{{> head}}

<body >
  
{{#if (eq tipoUsuario 'admin')}}
{{> headerAdmin}} 
{{else}}
{{> headerUser}}
{{/if}}
  <div class="main-content">
    
    <!-- Contenedor principal -->
    <div class="container mt-5">

        <!-- Sección de Tipos de Animales -->
        <section class="tipos-animales-section mb-4">
            <h3>Tipos de Animales Disponibles</h3>
            <ul class="list-group">
                {{#each tiposAnimales}}
                <li class="list-group-item">{{tipo}}</li>
                {{/each}}

            </ul>
        </ul>
        </section>

    </div>
  </div>
  {{> footer}}

</body>
<script src="/js/header.js"></script>
    <script src="/js/listadoTipos.js"></script>

</html>
