<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>

<body class="login-page">
    <div class="container">
        <div class="usuarios-section text-center">
            <h2 class="toggle-form" data-target="formU">Validar Usuario</h2>
            <form id="formCAS" class="form" method="post" action="/api/usuarios/perfil">
                <!-- Campo Usuario -->
                <div class="mb-4">
                    <label for="Usuario" class="form-label">Usuario</label>
                    <input type="text" id="email" class="form-control inputU" placeholder="Usuario" name="usuario" required
                        aria-describedby="usuarioHelp">
                    <small id="usuarioHelp" class="form-text text-muted">Ingresa tu nombre de usuario.</small>
                </div>
            
                <!-- Campo Contraseña -->
                <div class="mb-4">
                    <label for="Password" class="form-label">Contraseña</label>
                    <input type="password" id="password" class="form-control inputC" placeholder="Contraseña" name="password"
                        required aria-describedby="passwordHelp">
                    <small id="passwordHelp" class="form-text text-muted">Introduce tu contraseña segura.</small>
                </div>

                <!-- Botón de inicio -->
                <button type="submit" class="btn btn-primary buttonUsuario">Entrar</button>
            </form>

            <!-- Botón Crear usuario -->
            <div class="w-100 text-center">
                <button type="button" class="btn btn-success buttonCrearUsuario">Crear</button>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/login.js"></script>
</body>