{{> head}}
<header>
    <div class="container mt-4">
        <ul class="nav nav-tabs" id="myTabs">
            <!-- Logo e inicio a la izquierda -->
            <li class="nav-item" id="logo">
                <a class="nav-link" id="btnIniciarSesion"> <img src="/image/fondo.png" alt="Logo"
                        style="width: 40px; height: 40px;">
                </a>
            </li>

            <!-- Resto de los botones -->
            <li class="nav-item"><a class="nav-link" id="btnAdopciones">Adopciones</a></li>
            <li class="nav-item"><a class="nav-link" id="btnReservar">Reservar</a></li>
            <li class="nav-item"><a class="nav-link" id="btnPaquetes">Paquetes</a></li>
            <li class="nav-item"><a class="nav-link" id="btnPerfil">Perfil</a></li>

        
            <li class="nav-item dropdown">
                <a class="nav-link dropbtn">Animales</a>
                <div class="dropdown-content">
                    <a href="#" id="btnAnimales">Animales</a>
                    <a href="#" id="btnCrearAnimales">Crear Animal</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" id="btnCerrarSesion">Cerrar Sesión</a></li>
        </ul>
    </div>
</header>
<script src="/js/headerUser.js"></script>
